.lkxxhjkskn{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 600;
    color: grey;
    width: 100%;
    padding-left: 2px;
}

.kdhbsdb{
    padding-bottom: 12px;
    padding-top: 12px;
    font-weight: 600;
    color: rgb(44, 44, 44);
    width: 190%;
}

.lknidkdghb{
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 600;
    color: grey;
    width: 100%;
}

.vcjsduedn{
    padding-top: 100px;
    background:#f1f5f9;
}

.lanchkdrj{
    display: flex;
    padding: 10px;
    padding-left: 54px;
}

.ponscbswjn{
    width: 290px;
    padding-right: 2%;
    background: white;
    height: fit-content;
    border-radius: 8px;
    padding: 24px 24px 16px;
    box-shadow: 0 4px 45px #d2d5d9;
}

.mnhghssjsk{
    margin-left: 26px;
    margin-top: 5px;
    border: none;
}