#store {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.border-for-store {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}
.nocard {
  min-width: 100px;
  min-height: 500px;
  border: 1px solid #eee;
  overflow: hidden;
  padding: 10px;
  box-shadow: 2px 8px 20px #ddd;
  margin: 10px;
  transition: 0.5s linear;
}
.nocard:hover {
  box-shadow: none;
}
.nocard img {
  max-width: 300px;
  width: 100%;
  height: 100%;
  max-height: 300px;
  display: block;
  object-fit: cover;
}
.nocard h3 {
  text-transform: uppercase;
  margin: 10px 0;
}
.nocard h3 a {
  text-decoration: none;
  color: #333;
}
.nocard h3 a:hover {
  color: crimson;
}
.nocard span {
  color: crimson;
}
.nocard p {
  margin: 10px 0;
}
.gobutton {
  align-items: center;
  border: none;
  outline: none;
  background: rgb(206, 206, 206);
  color: rgb(209, 209, 209);
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px 0;
}

/* //////// New Store Css Starts ////////////// */

.rf-profile-row .rf-avatar {
  float: left;
  height: 90px;
  margin: 5px 20px 0 0;
  min-height: 90px;
  min-width: 90px;
  position: relative;
  width: 90px;
  padding: 20px 0px 30px 10px;
}

.rf-avatar__image:only-of-type {
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
  border: 1px solid #c7c7c7;
}

.new-store-profile-card-one {
  display: flex;
  padding: 15px 0px;
  box-shadow: 0 0px 3px rgb(0 0 0 / 20%);
  border: 0.5px solid rgb(215, 215, 224);;
  margin-bottom: 20px;
  border-radius: 5px;
  align-items: center;
}

.new-store-page-container-two {
  padding: 0px 0px 0px 15px;
}

.store-profile-card-three {
  display: block;
}

.rf-avatar .e2e-avatar .js-avatar {
  float: left;
  height: 90px;
  width: 90px;
  margin: 5px 20px 0 0;
  min-height: 90px;
  min-width: 90px;
  position: relative;
}

.store-profile-card-three {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #191919;
  display: block;
  float: left;
  font-size: 19px;
  font-weight: bold;
  max-width: 100%;
}

.new-store-profile-Location {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  color: #191919;
}

.new-store-profile-Category {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.5;
  color: #191919;
}

.new-store-profile-card-follow-followes {
  display: flex;
  padding: 10px 0px 0px;
}

.new-store-profile-card-follow-btn {
  background-color: #555555;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 50px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  padding: 6px 15px 8px;
  text-shadow: none;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: "background", color, border;
  transition-property: "background", color, border;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.new-products-of-shops-img-of-pro {
  width: 100px;
  height: 150px;
  object-fit: contain;
}

.details-continer-store {
  padding: 15px 17px 10px;
  border-right: 1px solid #c7c7c7;
  width: 23%;
}

.product-container-store {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.product-new-container-of-store {
  margin-right: 8px;
  padding: 10px 10px 0px 10px;
}

.new-store-profile-card-followes-number {
  font-family: inherit;
  font-size: 13px;
  line-height: 1.5;
  color: #191919;
  display: flex;
}

.store-list-main-container {
  padding: 85px 95px 30px 100px;
  display: flex;
  position: fixed;
  width: 100%;
}

.new-store-page-container-one {
  width: 100%;
  height: 43rem;
  overflow-y: scroll;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .store-list-main-container {
    padding: 135px 66px 30px;
    display: flex;
    position: fixed;
    width: 100%;
  }
}

/* //// Filter Css Starts ///// */

.filter-for-store {
  background-color: white;
  border: 1px solid #c7c7c7;
  clear: left;
  float: left;
  font-size: 13px;
  line-height: 19px;
  padding: 18px 20px;
  position: relative;
  width: 360px;
  word-wrap: break-word;
  z-index: 3;
  max-height: 660px;
  height: 660px;
  border-radius: 8px;
  /* box-shadow: 0 0px 3px rgb(0 0 0 / 20%); */
}

.bsjnansnaksn {
  margin-top: 2px;
  width: 285px;
}

.filter-bar-filter-header {
  padding: 12px 0;
  border: none;
  font-size: 1.3rem;
  color: #191919;
  padding-bottom: 20px;
}

.filter-bar-filter-header-h1-tag {
  line-height: normal;
  float: left;
  color: #585858;
  font-family: montserrat-bold, sans-serif;
  margin: 0 8px 0 0;
  font-weight: 600;
}

.filter-bar-filter-explore-header {
  position: relative;
  font-size: 1rem;
  color: #191919;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
}

.filter-bar-filter-explore-h2-tag {
  font-size: 24px;
  text-align: left;
  display: inline-block;
  color: #292929;
  
}

.filter-bar-filter-new {
  padding: 12px 0;
  line-height: normal;
  color: #191919;
  font-family: montserrat-bold, sans-serif;
  font-size: 14px;
  margin: 0 8px 0 0;
}

.compo-for-filter {
  padding-top: 10px;
}

.new-compo-conatiner-div {
  margin-bottom: 10px;
}

.SubCategory-root-mwEfghi {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  padding: 5px 5px;
  transition: color 0.1s linear;
  -webkit-user-select: none;
  user-select: none;
  min-width: 100px;
  color: #191919;
}

.SubCategory-label-30Fmjdh {
  font-size: 12px;
  line-height: 1;
  color: rgba(45, 45, 45, 0.5);
  width: 100%;
  border: none;
}

.show-only-tag{
  color: #585858;
  font-family: montserrat-bold, sans-serif;
  font-weight: 600;
  margin: 0 8px 0 0;
}

.cbildcbdc{
  margin-left: 5px;
  color:  rgba(32, 32, 32, 0.5);
}

.uhcacxdsa{
  margin-top: 5px;
  display: flex;
  align-items: center;
  line-height: 1.5;
}

/* //////// Filter Css Ends ////// */

/* //////// New Store Css Starts ////////////// */
