.icdsbnlcses{
    margin-right: 10px;
}

#CountryDropdown{
    height: 45px;
    width: 390px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 14px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 11px 16px;
    color:  #979292;
}

.cbwiacawc{
display: flex;
justify-content: space-between;
align-items: center;
}