.bfbdvtv {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.qwsaqwsa {
  padding-top: 100px;
  background-color: #f9f9f9;
}
.lkmnjkbdffdh {
  display: flex;
  padding-right: 25px;
  padding-top: 20px;
}

.czvxravbs {
  height: 100%;
  width: 100%;
  font-size: 17px;
  background-color: grey;
  border-radius: 100%;
  padding: 8px;
  margin-right: 20px;
  color: white;
}
.onrlsjhrbnd {
  width: 500px;
}

.checkout-step-wrap{
    background: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 1px 0px !important;
    display: flex;
    width: 57%;
    padding: 27px;
    margin-bottom: 70px;
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 1px 0px !important;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}

.section-text-7{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #656565;
}
.cljbdhekj{
    font-size: 16px;
    line-height: 24px;
    color: grey;
    padding-top: 6px;
    font-weight: 500;
}

.dhcvkj{
    padding-left: 90px;
    display: flex;
    padding-right: 43px;
}

.csddefccd{
    width: 30px;
    height: 30px;
    background: grey;
    border-radius: 100%;
    margin-right: 20px;
}

.mnvcoiuykj{
    text-align: center;
    padding-top: 6px;
    color: #fff;
}
